<h2 class="music-list__title">Music Store Albums</h2>
<div class="music-list__separator"></div>
<div class="music-list">
  @if (myMusicStore$ | async; as list) {
    @for (item of list; track item.id) {
      <div class="music-list__album" (click)="redirectTo(item.id)">
        <img
          class="music-list__album__img"
          [src]="'assets/img/' + item.img"
          [alt]='item.title'
        />
        <div class="music-list__album__info">
          <p class="music-list__album__text">
            {{ item.title }}
          </p>
          <p class="music-list__album__text music-list__album__text_bold">
            {{ item.author }}
          </p>
          <p class="music-list__album__text music-list__album__text_bold">
            ${{ item.price }}
          </p>
        </div>
      </div>
    }
  }
</div>
