<h2 class="list__title">Track List</h2>
<div class="list__separator"></div>
<div class="list">
  @if (myTrackList$ | async; as list) {
    @for (item of list; track item.id) {
      <div class="list__album" (click)="redirectTo(item.id)">
        <img
          class="list__album__img"
          [src]="'assets/img/tracklist/' + item.author + '.png'"
          [alt]='item.name'
          draggable="false"
        />
        <div class="list__album__info">
          <p class="list__album__text">
            {{ item.name }}
          </p>
          <p class="list__album__text list__album__text_bold">
            {{ item.author }}
          </p>
          <p class="list__album__text list__album__text_bold">
            {{ item.duration }}
          </p>
          <p class="list__album__text list__album__text_bold list__album__text_red">
            {{ item.explicit ? 'explicit' : '' }}
          </p>
        </div>
      </div>
    }
  }
</div>
