.object {
  width: 100%;
  height: fit-content;

  display: flex;
  flex-direction: column;
  gap: 30px;

  h3 {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
  }

  span {
    font-size: 30px;
  }
}