<div class="item" *ngIf="myMusicItem$">
  <h3 class="item__title">{{ myMusicItem$.author }}</h3>
  <div class="item__separator"></div>
  <div class="item__container">
    <div class="item__block item__block_left">
      <img
        class="item__block__img" 
        [src]="'assets/img/' + myMusicItem$.img"
        [alt]="myMusicItem$.title"
        draggable="false"
      >
    </div>
    <div class="item__block item__block_right">
      <p class="item__block__text item__block__text_bold">
        {{ myMusicItem$.title }}
      </p>
      <p class="item__block__text item__block__text_small">
        {{ myMusicItem$.genre }}
      </p>
    </div>
  </div>
  <div class="item__info">
    <p class="item__info__text">
      {{ myMusicItem$.desc }}
    </p>
    <div class="item__separator"></div>
    <div class="tracklist">
      @for (item of myMusicItem$.tracklist; track $index) {
        <div class="tracklist__item">
          <div class="tracklist__item__block">
            <p class="tracklist__item__text tracklist__item__text_fix">
              {{ item.id }}
            </p>
            <p class="tracklist__item__text">{{ item.name }}</p>
          </div>
          <p class="tracklist__item__text tracklist__item__text_fix">
            {{ item.duration }}
          </p>
        </div>
      }
    </div>
  </div>
</div>