@color-primary-6: #1890ff;
@color-character-title-85: rgba(0, 0, 0, 0.85);
@color-character-secondary-45: rgba(0, 0, 0, 0.45);
@color-character-disabled-placeholder-25: rgba(0, 0, 0, 0.25);
@color-text-black: #1a1a1a;
@color-custom-table-odd-line: #fbfaf4;
@color-neutral-2: #fafafa;
@color-neutral-6: #bfbfbf;
@color-warning: #ff0000;
@color-main-background: #f0f5f9;
@color-divider-black: rgba(0, 0, 0, 0.12);
@accent-blue-30: #0e72e5;
@main-text-color: #1a1a1a;
@profile-icon-blue: #538bf7;
@grey100: #f2f2f2;
@white: #ffffff;
@table-header-background: #e0e0e0;
@text-color-dark-grey: #525252;
@message-background: rgba(69, 145, 245, 0.1);
@form-card-divider-line: rgba(0, 0, 0, 0.12);
@dark-blue: #0462dB;
@blue: #36b4eb;
@green: #027a36;
@transparent-blue: rgba(69, 145, 245, 0.1);
@transparent-green: rgba(18, 167, 82, 0.1);
@system-yellow-10: #d68100;
@system-yellow-10_transparent: rgba(214, 129, 0, 0.1);
@system-yellow-30: #f0ab0a;
@input-border: #a3a3a3;
@steps-tail: #e8e8e8;
@system-red-10: #ad1111;
@info-alert-bg: #4591f519;
@black: #000;
@loader-container-background: rgba(242, 242, 242, 0.6);
@violet: #926af2;
