@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600;900&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active,
a:visited {
  outline: none;
  color: transparent;
}

input::-ms-clear {
  display: none;
}

body,
html {
  background-color: $main-background;
  color: $main-neutral;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul {
  list-style: none;
}