<ul class="list">
  <li class="list__item">
    <a
      class="list__link"
      [routerLink]="['calculator']"
      routerLinkActive="active"
    >
      Calculator
    </a>
  </li>
  <li class="list__item">
    <a
      class="list__link"
      [routerLink]="['object-list']"
      routerLinkActive="active"
    >
      Object list
    </a>
  </li>
  <li class="list__item">
    <a
      class="list__link"
      [routerLink]="['music-list']"
      routerLinkActive="active"
    >
      Music list
    </a>
  </li>
</ul>
