@import '../../../../shared/styles/variables.scss';

.item {
  &__separator {
    height: 2px;
    background-color: $main-neutral;
    width: 100%;
    margin: 50px 0;
  }

  &__title {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
  }

  &__container {
    display: flex;
  }

  &__block {

    &_left {
      width: 400px;
      height: 400px;
      margin-right: 50px;
    }

    &__img {
      width: 100%;
    }

    &__text {
      margin-bottom: 20px;

      &_bold {
        font-size: 28px;
        font-weight: bold;
      }

      &_small {
        font-size: 18px;
        color: #eeeeee8e;
      }
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    text-align: justify;

    &__text {
      font-size: 20px;
      line-height: 1.5;
    }
  }
}

.tracklist {
  margin: 0 auto;
  width: 80%;

  &__item {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    transition: all 0.3s ease;
    cursor: pointer;

    &:hover {
      transform: scale(1.005);
      color: $main-green;
    }

    &__block {
      display: flex;
      justify-content: space-between;
    }

    &__text {
      font-size: 18px;

      &_fix {
        min-width: 30px;
      }
    }
  }
}